@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-segundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-segundaria); /* Define a fonte a ser usada para o texto */
    font-size: 24px; /* Define o tamanho da fonte em 24 pixels */
    font-weight: 600;  /* Define a espessura da fonte como negrito (600) */
    color: var(--cor-secundaria); /* Define a cor do texto usando uma variável CSS chamada '--cor-secundaria' */
    text-decoration: none;     /* Remove a decoração de sublinhado dos links */
    padding: 3px 10px; /* Define o preenchimento (espaço interno) do link, 3 pixels acima/abaixo e 10 pixels à esquerda/direita */
    margin: 0 10px;  /* Define a margem externa do link, 0 pixels acima/abaixo e 10 pixels à esquerda/direita */
    border-radius: 5px; /* Define o raio de borda para arredondar os cantos do link em 5 pixels */
    position: relative;
    transition: color 0.3s ease;
}

.contato{
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    margin: 0 10px;
    border: none;
    border-radius: 0px 10px 0px 10px;
    position: relative;
    transition: color 03s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do botão */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    display: inline-block; /* Para tornar o botão inline com o texto */ 
}

.contato:hover{
    color: var(--cor-terciaria);
}

.contato::after{
    content: ""; /* Adiciona um conteúdo vazio ao pseudo-elemento */
    position: absolute; 
    left: 0; /* Inicia a linha sublinhada no canto esquerdo */
    bottom: 0; /* Define a posição no fundo do elemento pai */
    width: 100%; /* Cobrir a largura completa do link */
    height: 2px; /* Altura da linha sublinhada */
    background-color: var(--cor-secundaria); 
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.3s ease; 
}

.contato:hover::after{
    transform: scaleX(0.75);
}

.cabecalho__menu__link::after {
    content: ""; /* Adiciona um conteúdo vazio ao pseudo-elemento */
    position: absolute; 
    left: 0; /* Inicia a linha sublinhada no canto esquerdo */
    bottom: 0; /* Define a posição no fundo do elemento pai */
    width: 100%; /* Cobrir a largura completa do link */
    height: 2px; /* Altura da linha sublinhada */
    background-color: var(--cor-secundaria); 
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.3s ease; 
}

.cabecalho__menu__link:hover{
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover::after{
    transform: scaleX(0.75);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto__home {
    font-size: 24px;
    font-family: var(--fonte-segundaria);
    font-weight: 550;
}

.apresentacao__conteudo__texto__sobre {
    font-size: 22px;
    font-family: var(--fonte-segundaria);
    font-weight: 10;
    background-color: rgb(41, 41, 45, 0.7);
    border-radius: 20px;
    width: 600px;
    padding: 20px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-segundaria);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 24px;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover);
}



.rodape {
    padding: 10px;
    color: var(--cor-primaria);
    background: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 400;
}

